*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 2rem;
}

.main{
    border-color: #E5E7EB;
    max-width: 448px;
    min-width: 30%;
    padding: 2rem;
    border-radius: 8px;
    background-color: #FFFFFF;
    
    Box-Shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
}

.card{
    display: flex;
    column-gap: 1rem;
    row-gap: 2rem;
    flex-direction: column;
    width: 100%;
}

.main-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading h3{
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: #111827;
}


.main-heading p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25rem;
    Color: #4B5563
}

.add-div{
    display: flex;
    gap: 8px;
}

.add-btn{
    height: 2.75rem;
    background-color: #6366F1;
    border-radius: 0.375rem;
    font-size: 20px;
    border: none;
    padding: 0.75rem;
}

.add-btn:hover{
    background-color: #4F46E5;
    cursor: pointer;
}

.input{
    width: 100%;
    height: 44px;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    padding: 8px;
}

.input:focus{
    outline: none;
    border: 2px solid #E0E7FF;
    box-shadow: 0 0 0 1px rgba(99, 102, 241, 0.2);
}


.todo1{
    display: flex;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    Box-Shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    padding: 16px;
}

.todo1 p{
    color: #4B5563;
}

.check-box {
    margin-right: 0.5rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s;
}

.check-box:checked {
    background-color: #4B5563;
    border-color: #4B5563;
}

.check-box:checked::before {
    content: '\2714';
    display: block;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 18px;
}



.todo1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 2px;
    border: none;
}

